.calendar-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 90vh;
}

.side-panel {
    height: 100%;
    background: white; 
    position: fixed;
}

.main-panel {
    background: #ebf5ff;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 2em;
}
.side-panel-list {
    width: 100%;
    padding: 0 1em;
}
.side-panel-list h2 {
    display: flex;
    cursor: pointer;
    transition: margin 0.3s;
    align-items: center;
}
.list-icon {
    width: 1em;
    margin-right: 10px;
}
.side-panel-list h2:hover{
    margin-left: .3em;
}

.side-panel-list p {
    margin-left: 2.5em;
    color: #777;
}

.side-panel-list .active {
    color: #00a6ff
}

.side-panel-sublist p{
    transition: padding 0.3s, color 0.3s;
    user-select: none;
}
.side-panel-sublist .list-active {
    padding-left: .3em;
    color: #004b6e;
    border-bottom: 1px solid #004b6e;
}
.side-panel-sublist p:hover {
    padding-left: .3em;
    cursor: pointer;
    color: black;
}
/* Main Panel */
.rounded-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.dates-list-container {
  
    width: 100%;
    padding: 0 1em;
}
.info-panel-container {
    position: fixed;
    right: 0;
    width: 40%;
    padding: 0 1em 10em 1em;
}
.info-panel {
    padding: 1em 1em 15em 1em;
    overflow-y: auto;
    height: 1px;
}
.info-panel-container .info-panel h1 {
    margin: 0;
}
.info-panel-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-panel-head p {
    font-size: .7em;
    color: #666;
    width: 23%;
    text-align: center;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 5px;
}

.info-panel-location {
    font-size: .9em;
    font-style: italic;
    
}
.info-panel-time {
    font-size: .9em;
    font-weight: bold;
    margin: 0;
}
.info-panel-crews {
    margin: 0;
}
.info-panel-crews-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-panel-seperator {
    height: 1px;
    width: 100%;
    background: #aaa;
}

.info-panel-crew-list > div{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: .5em 0;
}

.crew-item {
    border: 1px solid #aaa;
    border-top: 2px solid #888;
    border-radius: 3px;
    padding: 10px .8em;
    margin: 10px 5px;
    background: #f3f3f3;
}

.boat-item {
    border-top: 1px solid #aaa;
    margin: .5em 0;
    padding: .3em 0;
}
.crew-member {
    margin: 5px 0;
}
.dates-list-container h1, .info-panel-container h1 {
    margin: 1em 0 5px 0;
}

.create-training-button {
    background: white;
    display: inline-block;
    margin: 10px 0;
    padding: .3em 2em;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    outline: none;
    
}
.form-element .create-training-button {
    background: white;
    display: inline-block;
    width: auto;
    margin: 10px 0;
    padding: .3em 2em;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    outline: none;
    
}
.create-training-button:hover {
    background: #f3f3f3;
}
.create-training-button p {
    margin: 0;
}

.dates-list {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 0 1em;
}
.dates-list h3{
    color: #444;
}
.info-panel {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    background: white;
}

.date-item{
    border: 1px solid #ccc;
    margin: .5em 0;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.3s
}
.date-item:hover {
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    background: #c6bbff
}
.date-item .color-code{
    width: 5px;
    background: #77d123;
}
.date-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 1em;
}
.date-content p {
    margin: 0;
    color: #444;
    font-size: .8rem;
}
.date-content p:first-child {
    font-weight: bold;
    font-size: 1rem;
}

.squad-name-sm {
    color: #aaa;
    font-size: .6em;
}


.create-training-container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.3);
}
.create-training-box {
    background: white;
    width: 50%;
    margin: 2em auto 6em auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    

}
.create-training-input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em 0;
}

.create-training-input-wrapper input {
    height: 2em;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 0 5px;
}
.create-training-input-wrapper input:focus {
    border: 2px solid #004b6e;
}

.close-button {
    position: relative;
    float: right;
    border: 1px solid #444;
    border-radius: 3px;
    padding: .5em 1em .7em 1em;
    font-weight: bold;
    margin: 0;
    transition: background 0.3s;
}
.close-button:hover {
    cursor: pointer;
    user-select: none;
    background: #444;
    color: white;
}

.create-training-colours {
    display: flex;
}

.create-training-colour {
    width: 30px;
    height: 30px;
    background: #ddd;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.create-training-colour.blue {
    background: #483bff;

}
.create-training-colour.red {
    background: #e22113;

}
.create-training-colour.green {
    background: #46dd0b;

}
.create-training-colour.yellow {
    background: #ffeb3b;

}
.create-training-colour.active {
    border: 3px solid #004b6e;
}

.errorsList {
    color: red;
}


.close-button.hide-desktop {
    display: none;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* Settings Panel */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.settings-panel-container {
    width: 100%;
}
.settings-panel {
    background: white;
    width: 100%;
}
.settings-panel-container h1 {
    margin: 1em 0 0 0;
}
.seperator {
    width: 50%;
    height: 2px;
    background: #004b6e;
}

.form-drop-down {
    padding: 5px 1em;
    /* background: rgba(0,0,0,.1); */
    display: inline-block;
    border-radius: 3px;
    /* border: 1px solid rgba(0,0,0,0.1); */
    color: #004b6e;
    border-bottom: 2px solid rgba(0,0,0,.1);
    transition: all 0.2s;
}
.form-drop-down:hover {
    border-bottom: 2px solid #004b6e;
    background: white;
    cursor: pointer;
}

.form-element {
    display: flex;
    flex-flow: column nowrap;

}
.form-element input {
    display: inline-block;
    width: 50%;
    height: 2em;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding: 0 5px;
}
.form-element input:focus{
    border: 2px solid #004b6e;
}

.search-bar {
    width: 100%;
    display: flex;
}

.members-search {
    display: flex;
    flex-flow: column nowrap;
    background: #f3f3f3;
    margin: 10px 0;
    width: 50%;
}
.members-search-item {
    display: flex;
    justify-content: space-between;
    margin: .5em 1em;
}
.members-search-item p {
    margin: 0;
}

.members-search-item-buttons {
    display: flex;
    font-size: .75em;
}
.members-search-item-buttons p {
    margin: 0 5px;
    background: white;
    padding: 3px 1em;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 3px;
}
.members-search-item-buttons p:hover {
    background: #f3f3f3;
    cursor: pointer;
}

.edit-member-container {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
}
.edit-member-panel {
    width: 50%;
    margin: 5em auto 0 auto;
    background: white;
    height: 100%;
    overflow: auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.edit-member-panel h1 {
    margin: 0;
}


.loading {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .calendar-wrapper {
        height: 100%;
        grid-template-columns: 100%;
    }
    .side-panel {
        height: auto;
        width: 100%;
        position: static;
    }

    .main-panel {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0;
    }
    .info-panel-container {
        display: none;
        position: fixed;
        width: 100%;
        top: 10vh;
        background: rgba(0,0,0,.5);
    }
    .info-panel-container-head > h1:first-child {
        color: white;
    }
    .info-panel-container.display {
        display: block;
    }
    .info-panel-container-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close-button.hide-desktop {
        display: block;
        color: white;
        border: 1px solid white;
        background: rgba(0,0,0,.3);
        
    }

    .create-training-box {
        width: 90%
    }

    .settings-panel-container {
        padding: 1em;
    }
}
/* Iphone X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) 
    {
        
    .calendar-wrapper {
        height: 100%;
        grid-template-columns: 100%;
    }
    .side-panel {
        height: auto;
        width: 100%;
        position: static;
    }

    .main-panel {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0;
    }
    .info-panel-container {
        display: none;
        position: fixed;
        width: 100%;
        top: 10vh;
        background: rgba(0,0,0,.5);
    }
    .info-panel-container-head > h1:first-child {
        color: white;
    }
    .info-panel-container.display {
        display: block;
    }
    .info-panel-container-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close-button.hide-desktop {
        display: block;
        color: white;
        border: 1px solid white;
        background: rgba(0,0,0,.3);
        
    }

    .create-training-box {
        width: 90%
    }

    .settings-panel-container {
        padding: 1em;
    }


}

/* 2688x1242px at 458ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) { 

    .calendar-wrapper {
        height: 100%;
        grid-template-columns: 100%;
    }
    .side-panel {
        height: auto;
        width: 100%;
        position: static;
    }

    .main-panel {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0;
    }
    .info-panel-container {
        display: none;
        position: fixed;
        width: 100%;
        top: 10vh;
        background: rgba(0,0,0,.5);
    }
    .info-panel-container-head > h1:first-child {
        color: white;
    }
    .info-panel-container.display {
        display: block;
    }
    .info-panel-container-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close-button.hide-desktop {
        display: block;
        color: white;
        border: 1px solid white;
        background: rgba(0,0,0,.3);
        
    }

    .create-training-box {
        width: 90%
    }

    .settings-panel-container {
        padding: 1em;
    }

}
/* Iphone 8 Plus */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 

    .calendar-wrapper {
        height: 100%;
        grid-template-columns: 100%;
    }
    .side-panel {
        height: auto;
        width: 100%;
        position: static;
    }

    .main-panel {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0;
    }
    .info-panel-container {
        display: none;
        position: fixed;
        width: 100%;
        top: 10vh;
        background: rgba(0,0,0,.5);
    }
    .info-panel-container-head > h1:first-child {
        color: white;
    }
    .info-panel-container.display {
        display: block;
    }
    .info-panel-container-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close-button.hide-desktop {
        display: block;
        color: white;
        border: 1px solid white;
        background: rgba(0,0,0,.3);
        
    }

    .create-training-box {
        width: 90%
    }

    .settings-panel-container {
        padding: 1em;
    }

}

/* Iphone 8 */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
    .calendar-wrapper {
        height: 100%;
        grid-template-columns: 100%;
    }
    .side-panel {
        height: auto;
        width: 100%;
        position: static;
    }

    .main-panel {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0;
    }
    .info-panel-container {
        display: none;
        position: fixed;
        width: 100%;
        top: 10vh;
        background: rgba(0,0,0,.5);
    }
    .info-panel-container-head > h1:first-child {
        color: white;
    }
    .info-panel-container.display {
        display: block;
    }
    .info-panel-container-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close-button.hide-desktop {
        display: block;
        color: white;
        border: 1px solid white;
        background: rgba(0,0,0,.3);
        
    }

    .create-training-box {
        width: 90%
    }

    .settings-panel-container {
        padding: 1em;
    }

    .edit-member-panel {
        width: 90%;
    }
    .members-search {
        width: 100%;
    }
    .form-element input {
        width: 100%;
    }


}